asgiref==3.11.1
async-timeout==5.0.1
attrs==25.4.0
django==4.2
django-redis==6.0.0
djangorestframework==3.16.1
drf-spectacular==0.29.0
faker==40.5.1
flake8==7.3.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
pillow==12.1.1
psycopg2-binary==2.9.10
pycodestyle==2.14.0
pyflakes==3.4.0
pygments==2.19.2
pyyaml==6.0.3
redis==7.2.1
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
typing-extensions==4.15.0
uritemplate==4.2.0
wemake-python-styleguide==1.6.0
